body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:hsl(212, 45%, 89%);
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}
.App{
  display: flex;
  flex-flow: column;
  width: 95%;
  max-width: 280px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  border-radius: 15px;
}


.qrcode{
  border-radius: 15px;
}
.App h1{
  font-size: 20px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}
.App p{
  margin: auto;
  max-width: 26ch;
  font-size: 15px;
  text-align: center;
  color:  hsl(220, 15%, 55%)
}